<% provide(:title, "Home") %>

<div class="row">
  <div class="col text-center home">
    <h1>Boing</h1>
    <p>Keep track of your short option positions</p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-primary" %>
  </div>
</div>